node_modules
dist
dist-ssr
*.local
.env
.env.local

# Rust
src-tauri/target
src-tauri/Cargo.lock
src-tauri/gen

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
